version: "3"


x-defaults: &defaults
  # target: developement
  networks:
    - ${NETWORK_CONTAINER}
  env_file:
      - ./.env
  

services:
  db:
    image: ${PG_IMG}
    container_name: db
    restart: always
    ports:
      - ${PG_LOCAL_PORT}:${PG_DOCKER_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./apps/db/:/docker-entrypoint-initdb.d  
      #NODE_ENV=production a 

    <<: *defaults
    environment:
      - POSTGRES_DB=${PG_DB}
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}

  adminer:
    image: ${ADMINER_IMG}
    depends_on:
      - db
    ports:
      - ${ADMINER_LOCAL_PORT}:${ADMINER_DOCKER_PORT}
    <<: *defaults
    # healthcheck:
    #       test: ["CMD-SHELL", "pg_isready -U postgres"]
    #       interval: 5s
    #       timeout: 5s
    #       retries: 5

  web:
    container_name: ${WEB_NAME}
    build:
      context: .
      dockerfile: ./apps/${WEB_NAME}/Dockerfile
    restart: always
    <<: *defaults
    ports:
      - ${WEB_lOCAL_PORT}:${WEB_DOCKER_PORT} 
    # volumes:
    #   - ./apps/${WEB_NAME}:/app/${WEB_NAME}
    #   - /app/apps/${WEB_NAME}/node_modules

  api:
    container_name: ${API_NAME}
    build:
      context: .
      dockerfile: ./apps/${API_NAME}/Dockerfile
    <<: *defaults
    depends_on:
      - db    
    restart: always
    ports:
      - ${API_LOCAL_PORT}:${API_DOCKER_PORT}
    # volumes:
    #   - ./apps/${API_NAME}/:/app/{API_NAME}
    #   - /app/${API_NAME}/node_modules


volumes:
  postgres_data:

networks:
  app_network:
    external: true
    
